#home {
    background-color: bisque;
    display: flex;
    align-items: center;
}

/* #home .row{
    height: 100vh;
} */

#home h1 {
    font-size: 8rem;
    line-height: 7rem;
    text-shadow: inset 2, 3, 3 rgba(0,0,0, .5);
}

#home h2 {
    font-size: 3.3rem;
    letter-spacing: .2rem;
}

/* #stay-put {
    position: absolute;
    top:50%;
    left:30%;
    transform:translate(-70%,-50%);
} */