@import '/src/Components/Header/Header.css';
@import '/src/Components/Portfolio/Portfolio.css';
@import '/src/Components/Contact/Contact.css';
@import '/src/Components/Footer/Footer.css';

@import '/src/Pages/Home/Home.css';
@import '/src/Pages/About/About.css';

/* global + testing styles */
* {
    margin:0;
    padding: 0;
    scroll-behavior: smooth;
    max-width: 100%;
}

a {
    color: var(--main-font-color)!important;
    text-decoration: none!important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
li {
    color: var(--main-font-color)!important;
}

html,
body {
    scroll-snap-type:y mandatory;
}

#home,
#portfolio,
#contact,
#footer {
    scroll-snap-align: start;
}

:root {
    --main-font-color: #FFF;
    --secondary-font-color: #333;
    --home-bg-color: #ff8360;
    --about-bg-color: #EB5E55;
    --portfolio-bg-color: #48acf0;
    --contact-bg-color: #00ffac;
    --footer-bg-color: #231f20;
    --text-shadow: 1px 2px 5px #333;
}