@import '/src/Components/Header/Header.css';
@import '/src/Components/Portfolio/Portfolio.css';
@import '/src/Components/Contact/Contact.css';
@import '/src/Components/Footer/Footer.css';

@import '/src/Pages/Home/Home.css';
@import '/src/Pages/About/About.css';

/* global + testing styles */
* {
    margin:0;
    padding: 0;
    scroll-behavior: smooth;
    max-width: 100%;
}

body,
html {
    scroll-snap-type: y mandatory;
}

section {
    height: 100vh;
    scroll-snap-align: start;
  }
